<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php
if (!$block->getCategory()) {
    return;
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php $_categories = $block->getCurrentChildCategories(); ?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count): ?>
    <div class="container">
        <div class="row">
            <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
            <?php foreach ($_categories as $_category): ?>
            <div class="col-6">
                <div class="tile" style="background-image: url(<?php echo $_category->getImageUrl() ?>);">
                    <div class="tile-content">
                        <a href="<?= /* @escapeNotVerified */ $block->getCategoryUrl($_category) ?>"<?php if ($block->isCategoryActive($_category)): ?> class="current"<?php endif; ?>>
                            <span><?php echo $block->escapeHtml($_category->getName()); ?></span>
                        </a>
                    </div>
                </div>
            </div>
            <?php endforeach ?>
        </div>
    </div>
<?php endif; ?>