<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<style>
    .category-bathrooms .main, .category-outdoor-living .main, .category-bars-restaurants .main{
        display: none;
    }
</style>
<?php
if (!$block->getCategory()) {
    return;
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php $_categories = $block->getCurrentChildCategories(); ?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count): ?>
    <div class="container">
        <div class="row">
            <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
            <?php foreach ($_categories as $_category): ?>
                <?php $category = $objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId()); ?>
                <?php if ($_category->getIsActive()): ?>
                    <?php $category_name = $block->escapeHtml($_category->getName());?>
                    <div class="col-12 col-lg-6">
                        <?php if($category->getImageUrl() == ''):?>
                        <div class="tile" style="background-color: #<?php echo $_category->getData('category_color');?>;min-height: 450px;margin: 15px 0;">
                        <?php else:?>
                        <div class="tile" style="background-image: url(<?php echo $category->getImageUrl() ?>);min-height: 450px;margin: 15px 0;">
                        <?php endif;?>
                            <div class="tile-content">
                                <a href="<?= /* @escapeNotVerified */ $block->getCategoryUrl($_category) ?>"<?php if ($block->isCategoryActive($_category)): ?> class="current"<?php endif; ?>>
                                    <span style="font-size:24px;letter-spacing: 0;text-align: left;"><?= $category_name ?></span>
                                </a>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endforeach ?>
        </div>
    </div>
<?php endif; ?>
