<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php
if (!$block->getCategory()) {
    return;
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
        ->getStore()
        ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$mediaUrl .= 'catalog/category/'
?>
<?php $_categories = $block->getCurrentChildCategories(); ?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count): ?>
    <div class="row categories-grid">
        <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
        <?php foreach ($_categories as $_category): ?>
            <?php
            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());
            ?>
            <?php if ($_category->getIsActive()): ?>
                <div class="category col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" >
                    <a href="<?= /* @escapeNotVerified */ $block->getCategoryUrl($_category) ?>">
                        <img src="<?php echo $mediaUrl . $category->getCategoryThumbnail(); ?>" width="100%" />
                        <span><?= $block->escapeHtml($_category->getName()) ?></span>
                    </a>
                </div>
            <?php endif; ?>
        <?php endforeach ?>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*":
                {
                    "Magento_Customer\/js\/customer-data":{"sectionLoadUrl":"http:\/\/test.xepinas.com\/customer\/section\/load\/","cookieLifeTime":"84600","updateSessionUrl":"http:\/\/test.xepinas.com\/customer\/account\/updateSession\/"}
        }
    }
    
</script>